//- ** Dropdown component

mixin dropdown(buttonText, props = {})
  - var buttonClass = props.buttonClass || 'button';
  - var icon = props.icon || 'chevron';
  .dropdown(data-dropdown, data-dropdown-select=props.select, data-dropdown-hover=props.hoverable)&attributes(attributes)
    button.dropdown-button(
      data-dropdown-button,
      class=buttonClass,
      class={ 'dropdown-button--select': props.select },
      aria-expanded='false'
    ) #[span.button-text !{ buttonText }]
      if (props.icon || props.select)
        +icon(icon)(class={ 'dropdown-button__arrow': props.select })
    .dropdown-container(data-dropdown-container)
      .dropdown-content
        block
