//- ** Radio component

mixin fieldRadio(props, prefix)
  if (props.legend)
    legend.radio-legend #{ props.legend }
  each radio in props.radios
    .form__field.radio-field(class=props.fieldClass)
      - var radioId = props.name + '-' + radio.id;
      +fieldLabel(radio.wrapper, radioId, radio.label, props.type, prefix)
        input.input-radio(
          type='radio',
          id=prefix + '-' + radioId,
          name=prefix + '-' + props.name,
          required=props.required,
          checked=radio.checked
        )&attributes(radio.attrs)
