include ./components/components.pug
block globals
doctype html
html.webp.no-js(lang='ru')
  head
    meta(charset='utf-8')
    title #{ pageTitle }
    meta(name='description', content='Отзывы о товаре')
    meta(name='keywords', content='key, words')
    meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    include @partials/layout/favicon.pug
    include @partials/layout/fonts.pug
    block fonts
    block styles
    link(href=require('../scss/main.scss'), rel='stylesheet')
    block scripts
    script(defer, src='vendor/just-validate.min.js')
    script(defer, src='vendor/imask.min.js')
    script(defer, src=require('../js/main.js'))
  body(class=pageUrl === 'index' ? 'homepage' : pageUrl + '-page', class=bodyClass)
    .page-wrapper.container
      main.main
        block content
    block dialogs
    block embedded-scripts
